*
{
 margin: 5px;  
 padding: 4px; 
 box-sizing: border-box;
}

body
{
    background-color: rgb(8, 149, 149);
    font-family: Lucida;
    
}

h1
{background-color: yellow;
text-align: center;
}

h2
{background-color: yellow;
    border-spacing: 3px;

}
.menu .ul li a
{
    text-decoration: none;
    
}


table
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) 
  {
    background-color: #dddddd;
  }

  .visit
  {
    text-align: right;
  }
.images{background-color: #000;}